doctype html
html
  head
    title= siteName
    //- <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Chef">Chef</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='shortcut icon', href='/images/icon.png')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/c3/c3.js')
    link(rel='stylesheet', href='/c3/c3.css')
    link(rel='script', href='/d3/d3.css')
    script(src='/d3/d3.js')
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/utils.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        a.navbar-brand(href="/") Bakery Data Analysis
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="#vendas-loja-dia") Vendas Loja/Dia
            li.nav-item
                a.nav-link(href="#vendas-loja-item") Vendas Itens/Lojas
            li.nav-item
                a.nav-link(href="#multiple-charts") Vendas Empregados/Lojas
            li.nav-item
                a.nav-link(href="#tabela-lojas") Tabela Lojas
    block content
