extends layout

block content

    script(src='/javascripts/montaTabelaLojas.js')
    script(src='/javascripts/earningsDate.js')
    script(src='/javascripts/itemSoldPerStore.js')
    script(src='/javascripts/earningsEmployee.js')
    
    div(class='row' id='vendas-loja-dia')
        div(class='col-lg-12 col-sm-12 col-md-12 col-xs-12')
            h1="Vendas por Loja Por Dia"
    div(id='chart')
    
    div(class='row' id='vendas-loja-item')
        div(class='col-lg-12 col-sm-12 col-md-12 col-xs-12')
            h1="Vendas de Itens por Loja"
    div(id='chart1')

    div(class='row' id='multiple-charts')
        div(class='col-lg-12 col-sm-12 col-md-12 col-xs-12')
            h1="Vendas por Empregado Por Loja:"

    div(class='row' id='tabela-lojas')
        div(class='col-lg-12 col-sm-12 col-md-12 col-xs-12')
            h1="Tabela de Lojas"
    div(class='row')
        table(class="table table-dark table-hover table-sm")
            thead
                tr
                th(scope="col")='id'
                th(scope="col")='Street'
                th(scope="col")='City'
                th(scope="col")='State'
                th(scope="col")='Zip-Code'
                
            tbody(class="tabela-lojas-corpo")
                